*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}
html,body{
    height: 100%;
    width: 100%;
}


.main{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(245.59deg, #4d9559 0%,#38703d 28.53%,#133917 75.52%); */
    background: linear-gradient(245.59deg, #000 0%,#090000 28.53%,#133917 75.52%);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}
.main header{
    z-index: 1000;
    width: 100%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.main header h1{
    width: 380px;
    min-width: 220px;
    font-size: 30px;
    font-weight: 800;
}
.main header .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    /* background-color: rgb(2, 27, 128); */
}
.main header .nav a{
    font-size: 17px;
    font-weight: 100;
    border-bottom: 2px solid transparent;
    transition:  all .55s ease;
}
.main header .nav a:hover{
    border-bottom: 2px solid white;
}
.main header #menu-icon{
    display:none;
    z-index: 10001;
    font-size: 28px;
    cursor: pointer;
}

.hero{
    width: 100%;
    height: calc(100vh + 110vh);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5%;
    gap: 50px;
}
.hero .icons{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.hero .heroContent{
    display: flex;
    flex-direction: column;
}
.hero .heroContent h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.hero .heroContent h4{
    font-size: 18px;
    /* color: white; */
    font-weight: 600;
    margin-bottom: 10px;
}
.hero .heroContent h1{
    font-family: cursive;
    font-size: 68px;
    line-height: 1;
    margin-bottom: 45px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.hero .heroContent p{
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
    width: 70%;
}
.heroImg{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroImg  img{
    width: 480px;
    height: auto;
}
.heroContent .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
}
.heroContent .buttons a{
    display: inline-block;
    color: white;
    background: #4d9559 ;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition:  all .55s ease;
}
.heroContent a:hover{
        background: transparent;
        border: 1px solid white;
        transform: translateX(8px);
}
.heroContent a.gamePlay{
        background: transparent;
        border: 1px solid white;
        margin-left: 20px;
}
.heroContent a.gamePlay i{
        vertical-align: middle;
        margin-right: 5px;
}


/* responsiveness of this web page */
@media (max-width:850px) {
    .main header .nav a,
    .hero .icons{
        display: none;
    }
    .main header #menu-icon{
        display: block;
    }
    .hero .heroContent{
        margin-top: 50px;
    }
    .hero .heroContent p{
        font-size: 20px;
        /* width: 100%; */
    }
}
@media (max-width:431px) {
    .hero .heroContent{
        width: 100%;
        margin: 50px 0;
        padding: 0 10px;
    }
    .hero .heroContent h5{
        font-size: 16px;
    }
    .hero .heroContent h1{
        font-size: 55px;
        margin-bottom: 20px;
    }
    .hero .heroContent p{
        font-size: 17px;
        width: 100%;
    }
    .heroImg {
        width: 100%;
    }
    .heroImg img{
        width: 400px;
    }
    .heroContent .buttons{
        justify-content: flex-start;
    }
    .heroContent .buttons a.gamePlay{
        padding: 12px 25px;
    }
    .heroContent .buttons a i{
        margin-right: 10px;
    }
}

.nextChar{
    width: 100%;
    text-align: right;
    margin-top: 8%;
}
.nextChar img{
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.57);
    border-radius: 50%;
    margin-right: 15px;
}